# Finding Player and Game Id

In [41]:
from nba_api.stats.static import players
import pandas
pandas.set_option('display.max_colwidth',250)
pandas.set_option('display.max_columns', None)

In [3]:
nba_players = players.get_players()
d_book = [player for player in nba_players
                   if player['full_name'] == 'Devin Booker'][0]
d_book

{'id': 1626164,
 'full_name': 'Devin Booker',
 'first_name': 'Devin',
 'last_name': 'Booker',
 'is_active': True}

In [18]:
from nba_api.stats.static import teams
nba_teams = teams.get_teams()
suns = [team for team in nba_players
                   if team['abbreviation'] == 'PHX'][0]
suns

{'id': 1610612756,
 'full_name': 'Phoenix Suns',
 'abbreviation': 'PHX',
 'nickname': 'Suns',
 'city': 'Phoenix',
 'state': 'Arizona',
 'year_founded': 1968}

In [22]:
suns_id = suns['id']

In [326]:
from nba_api.stats.endpoints import leaguegamefinder
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=suns_id)
games = gamefinder.get_data_frames()[0]

In [327]:
games_1617 = games[games.SEASON_ID.str[-4:] == '2016']
bos_games_1617 = games_1617[games_1617.MATCHUP.str.contains('BOS')]
bos_games_1617.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
198,22016,1610612756,PHX,Phoenix Suns,0021601076,2017-03-24,PHX @ BOS,L,240,120,39,86,0.453,6,19,0.316,36,49,0.735,10,39,49,23,9,3,13,30,-10.0
208,22016,1610612756,PHX,Phoenix Suns,0021600929,2017-03-05,PHX vs. BOS,W,239,109,42,94,0.447,4,20,0.200,21,26,0.808,10,40,50,16,7,10,11,29,3.0
281,22016,1610612756,PHX,Phoenix Suns,1521600022,2016-07-10,PHX @ BOS,W,198,87,33,76,0.434,7,19,0.368,14,18,0.778,14,28,42,20,13,6,16,29,13.0

# Game Id Calls

In [3]:
from nba_api.stats.endpoints import winprobabilitypbp
winprobability_pbp = winprobabilitypbp.WinProbabilityPBP(game_id='0021601076')
dbook_game_winprob = winprobability_pbp.get_data_frames()[0]
dbook_game_winprob.head(20)

,GAME_ID,EVENT_NUM,HOME_PCT,VISITOR_PCT,HOME_PTS,VISITOR_PTS,HOME_SCORE_MARGIN,PERIOD,SECONDS_REMAINING,HOME_POSS_IND,HOME_G,DESCRIPTION,LOCATION,PCTIMESTRING,ISVISIBLE
0,0021601076,1.0,0.58808,0.41192,0,0,0,1,720.0,NaN,0.0,Start of 1st Period (7:41 PM EST),,12:00,1.0
1,0021601076,2.0,0.58808,0.41192,0,0,0,1,720.0,0.0,9919.5,"Jump Ball Johnson vs. Len: Tip to Jones, Jr.",h,12:00,1.0
2,0021601076,NaN,0.58806,0.41194,0,0,0,1,719.0,0.0,NaN,None,None,None,NaN
3,0021601076,NaN,0.58804,0.41196,0,0,0,1,718.0,0.0,NaN,None,None,None,NaN
4,0021601076,NaN,0.58801,0.41199,0,0,0,1,717.0,0.0,NaN,None,None,None,NaN
5,0021601076,NaN,0.58799,0.41201,0,0,0,1,716.0,0.0,NaN,None,None,None,NaN
6,0021601076,NaN,0.58797,0.41203,0,0,0,1,715.0,0.0,NaN,None,None,None,NaN
7,0021601076,NaN,0.58795,0.41205,0,0,0,1,714.0,0.0,NaN,None,None,None,NaN
8,0021601076,NaN,0.58793,0.41207,0,0,0,1,713.0,0.0,NaN,None,None,None,NaN
9,0021601076,NaN,0.58790,0.41210,0,0,0,1,712.0,0.0,NaN,None,None,None,NaN
10,0021601076,NaN,0.58788,0.41212,0,0,0,1,711.0,0.0,NaN,None,None,None,NaN
11,0021601076,NaN,0.58786,0.41214,0,0,0,1,710.0,0.0,NaN,None,None,None,NaN
12,0021601076,NaN,0.58784,0.41216,0,0,0,1,709.0,0.0,NaN,None,None,None,NaN
13,0021601076,NaN,0.58782,0.41218,0,0,0,1,708.0,0.0,NaN,None,None,None,NaN
14,0021601076,NaN,0.58779,0.41221,0,0,0,1,707.0,0.0,NaN,None,None,None,NaN
15,0021601076,3.0,0.58777,0.41223,0,0,0,1,706.0,0.0,9032.5,MISS Chriss 1' Alley Oop Dunk,v,11:46,1.0
16,0021601076,4.0,0.58775,0.41225,0,0,0,1,705.0,0.0,8695.5,"Jones, Jr. REBOUND (Off:1 Def:0)",v,11:45,1.0
17,0021601076,NaN,0.58773,0.41227,0,0,0,1,704.0,0.0,NaN,None,None,None,NaN
18,0021601076,NaN,0.58771,0.41229,0,0,0,1,703.0,0.0,NaN,None,None,None,NaN
19,0021601076,NaN,0.58768,0.41232,0,0,0,1,702.0,0.0,NaN,None,None,None,NaN

In [308]:
from nba_api.stats.endpoints import boxscoreadvancedv2
boxscoreadv2 = boxscoreadvancedv2.BoxScoreAdvancedV2(game_id='0021601076')
dbook_game = boxscoreadv2.get_data_frames()[0]
dbook_game.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,AST_TOV,AST_RATIO,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0021601076,1610612756,PHX,Phoenix,1627884,Derrick Jones Jr.,F,,31:48,95.7,95.8,104.9,108.3,-9.2,-12.5,0.000,0.0,0.0,0.054,0.054,0.054,0.0,0.667,0.735,0.063,0.064,110.52,108.68,90.57,72,0.027
1,0021601076,1610612756,PHX,Phoenix,1627737,Marquese Chriss,F,,21:08,82.6,84.8,130.5,134.0,-47.9,-49.3,0.091,0.5,7.1,0.000,0.273,0.125,14.3,0.100,0.138,0.255,0.254,108.48,105.62,88.01,46,-0.070
2,0021601076,1610612756,PHX,Phoenix,203458,Alex Len,C,,25:35,97.5,100.0,120.9,124.6,-23.4,-24.6,0.143,2.0,18.2,0.037,0.167,0.105,9.1,0.800,0.681,0.148,0.146,108.97,106.01,88.34,56,0.096
3,0021601076,1610612756,PHX,Phoenix,1626164,Devin Booker,G,,44:58,109.9,110.6,113.7,116.3,-3.9,-5.8,0.375,1.2,9.8,0.039,0.111,0.076,8.2,0.575,0.680,0.474,0.480,112.66,111.02,92.51,104,0.296
4,0021601076,1610612756,PHX,Phoenix,1627755,Tyler Ulis,G,,34:11,107.8,109.0,121.4,121.3,-13.6,-12.3,0.154,2.0,36.4,0.000,0.048,0.025,18.2,0.250,0.307,0.080,0.081,111.44,110.93,92.44,78,0.013

In [39]:
from nba_api.stats.endpoints import boxscorefourfactorsv2
boxscorefourfactors = boxscorefourfactorsv2.BoxScoreFourFactorsV2(game_id='0021601076')
dbook_game_fourfactors = boxscorefourfactors.get_data_frames()[0]
dbook_game_fourfactors.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,EFG_PCT,FTA_RATE,TM_TOV_PCT,OREB_PCT,OPP_EFG_PCT,OPP_FTA_RATE,OPP_TOV_PCT,OPP_OREB_PCT
0,0021601076,1610612756,PHX,Phoenix,1627884,Derrick Jones Jr.,F,,31:48,0.427,0.582,0.125,0.182,0.516,0.297,0.148,0.273
1,0021601076,1610612756,PHX,Phoenix,1627737,Marquese Chriss,F,,21:08,0.343,0.600,0.148,0.160,0.655,0.286,0.124,0.238
2,0021601076,1610612756,PHX,Phoenix,203458,Alex Len,C,,25:35,0.463,0.634,0.157,0.154,0.565,0.241,0.136,0.333
3,0021601076,1610612756,PHX,Phoenix,1626164,Devin Booker,G,,44:58,0.482,0.566,0.105,0.213,0.517,0.389,0.122,0.240
4,0021601076,1610612756,PHX,Phoenix,1627755,Tyler Ulis,G,,34:11,0.475,0.590,0.127,0.211,0.529,0.386,0.088,0.231

In [42]:
from nba_api.stats.endpoints import boxscoremiscv2
boxscoremisc = boxscoremiscv2.BoxScoreMiscV2(game_id='0021601076')
dbook_game_misc = boxscoremisc.get_data_frames()[0]
dbook_game_misc.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,PTS_OFF_TOV,PTS_2ND_CHANCE,PTS_FB,PTS_PAINT,OPP_PTS_OFF_TOV,OPP_PTS_2ND_CHANCE,OPP_PTS_FB,OPP_PTS_PAINT,BLK,BLKA,PF,PFD
0,0021601076,1610612756,PHX,Phoenix,1627884,Derrick Jones Jr.,F,,31:48,0.0,2.0,0.0,4.0,9.0,8.0,14.0,40.0,0.0,0.0,6.0,2.0
1,0021601076,1610612756,PHX,Phoenix,1627737,Marquese Chriss,F,,21:08,1.0,1.0,0.0,2.0,7.0,2.0,12.0,26.0,0.0,1.0,5.0,3.0
2,0021601076,1610612756,PHX,Phoenix,203458,Alex Len,C,,25:35,0.0,2.0,0.0,4.0,9.0,6.0,15.0,32.0,2.0,0.0,3.0,5.0
3,0021601076,1610612756,PHX,Phoenix,1626164,Devin Booker,G,,44:58,17.0,4.0,15.0,18.0,11.0,8.0,19.0,48.0,1.0,1.0,3.0,16.0
4,0021601076,1610612756,PHX,Phoenix,1627755,Tyler Ulis,G,,34:11,0.0,0.0,0.0,0.0,9.0,4.0,19.0,38.0,0.0,1.0,3.0,1.0

In [47]:
from nba_api.stats.endpoints import boxscoredefensive
boxscore_defensive = boxscoredefensive.BoxScoreDefensive(game_id='0021601076')
dbook_game_defensive = boxscore_defensive.get_data_frames()[0]
dbook_game_defensive.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,TEAM_NICKNAME,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,POSS,PLAYER_PTS,TEAM_PTS,DREB,AST,TOV,STL,BLK,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,SFL,DEF_FLS,CFGM,CFGA,CFG_PCT,CFG3M,CFG3A,CFG3_PCT
0,0021601076,1610612756,PHX,Phoenix,Suns,1627884,Derrick Jones Jr.,F,,31:48,68,16,77,2,4,1,1,0,5,8,0.625,2,5,0.400,4,3,1,2,2,1.0,0,0,0.0
1,0021601076,1610612756,PHX,Phoenix,Suns,1627737,Marquese Chriss,F,,21:08,45,18,65,6,0,1,1,0,7,8,0.875,1,1,1.000,3,3,0,3,3,1.0,0,0,0.0
2,0021601076,1610612756,PHX,Phoenix,Suns,203458,Alex Len,C,,25:35,52,11,75,5,4,3,0,2,5,10,0.500,1,3,0.333,0,2,0,2,5,0.4,1,1,1.0
3,0021601076,1610612756,PHX,Phoenix,Suns,1626164,Devin Booker,G,,44:58,99,17,116,6,8,2,3,1,5,19,0.263,1,10,0.100,6,0,2,2,4,0.5,0,0,0.0
4,0021601076,1610612756,PHX,Phoenix,Suns,1627755,Tyler Ulis,G,,34:11,74,18,94,2,7,3,2,0,5,17,0.294,3,11,0.273,5,1,0,0,5,0.0,0,3,0.0

In [49]:
from nba_api.stats.endpoints import boxscorematchups
boxscore_matchups = boxscorematchups.BoxScoreMatchups(game_id='0021601076')
dbook_game_matchups = boxscore_matchups.get_data_frames()[0]
dbook_game_matchups.head()

,GAME_ID,OFF_TEAM_ID,OFF_TEAM_ABBREVIATION,OFF_TEAM_CITY,OFF_TEAM_NICKNAME,OFF_PLAYER_ID,OFF_PLAYER_NAME,DEF_TEAM_ID,DEF_TEAM_ABBREVIATION,DEF_TEAM_CITY,DEF_TEAM_NICKNAME,DEF_PLAYER_ID,DEF_PLAYER_NAME,POSS,OFF_MATCHUP_PCT,PLAYER_PTS,TEAM_PTS,AST,TOV,BLK,HELP_BLK,HELP_BLK_REC,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,SFL,DEF_FOULS,OFF_FOULS
0,0021601076,1610612756,PHX,Phoenix,Suns,1627884,Derrick Jones Jr.,1610612738,BOS,Boston,Celtics,1627759,Jaylen Brown,4,0.058,0,4,0,0,0,0,0,0,0,0.0,0,0,0.0,0,1,1,0
1,0021601076,1610612756,PHX,Phoenix,Suns,1627884,Derrick Jones Jr.,1610612738,BOS,Boston,Celtics,203109,Jae Crowder,39,0.565,3,44,0,0,0,0,0,1,2,0.5,0,0,0.0,1,1,0,0
2,0021601076,1610612756,PHX,Phoenix,Suns,1627884,Derrick Jones Jr.,1610612738,BOS,Boston,Celtics,101123,Gerald Green,9,0.130,2,6,0,0,0,0,0,1,1,1.0,0,0,0.0,0,0,1,0
3,0021601076,1610612756,PHX,Phoenix,Suns,1627884,Derrick Jones Jr.,1610612738,BOS,Boston,Celtics,201143,Al Horford,1,0.014,0,0,0,0,0,0,0,0,0,0.0,0,0,0.0,0,0,0,0
4,0021601076,1610612756,PHX,Phoenix,Suns,1627884,Derrick Jones Jr.,1610612738,BOS,Boston,Celtics,101161,Amir Johnson,1,0.014,0,0,0,0,0,0,0,0,0,0.0,0,0,0.0,0,0,0,0

In [50]:
from nba_api.stats.endpoints import boxscoreplayertrackv2
boxscore_playertrackv2 = boxscoreplayertrackv2.BoxScorePlayerTrackV2(game_id='0021601076')
dbook_game_playertracker = boxscore_playertrackv2.get_data_frames()[0]
dbook_game_playertracker.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,SPD,DIST,ORBC,DRBC,RBC,TCHS,SAST,FTAST,PASS,AST,CFGM,CFGA,CFG_PCT,UFGM,UFGA,UFG_PCT,FG_PCT,DFGM,DFGA,DFG_PCT
0,0021601076,1610612756,PHX,Phoenix,1627884,Derrick Jones Jr.,F,,31:48,4.66,2.47,6,4,10,27,0,0,22,0,1,1,1.000,1,2,0.500,0.667,2,2,1.000
1,0021601076,1610612756,PHX,Phoenix,1627737,Marquese Chriss,F,,21:08,4.74,1.67,3,10,11,44,0,1,28,1,0,3,0.000,1,7,0.143,0.100,2,2,1.000
2,0021601076,1610612756,PHX,Phoenix,203458,Alex Len,C,,25:35,4.29,1.83,5,12,16,39,0,0,31,2,1,1,1.000,3,4,0.750,0.800,5,9,0.556
3,0021601076,1610612756,PHX,Phoenix,1626164,Devin Booker,G,,44:58,4.14,3.10,4,10,14,98,1,1,41,6,12,22,0.545,9,18,0.500,0.525,4,6,0.667
4,0021601076,1610612756,PHX,Phoenix,1627755,Tyler Ulis,G,,34:11,4.34,2.47,2,4,5,62,1,0,53,4,0,2,0.000,1,2,0.500,0.250,0,1,0.000

In [51]:
from nba_api.stats.endpoints import boxscorescoringv2
boxscore_scoringv2 = boxscorescoringv2.BoxScoreScoringV2(game_id='0021601076')
dbook_game_scoring = boxscore_scoringv2.get_data_frames()[0]
dbook_game_scoring.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,PCT_FGA_2PT,PCT_FGA_3PT,PCT_PTS_2PT,PCT_PTS_2PT_MR,PCT_PTS_3PT,PCT_PTS_FB,PCT_PTS_FT,PCT_PTS_OFF_TOV,PCT_PTS_PAINT,PCT_AST_2PM,PCT_UAST_2PM,PCT_AST_3PM,PCT_UAST_3PM,PCT_AST_FGM,PCT_UAST_FGM
0,0021601076,1610612756,PHX,Phoenix,1627884,Derrick Jones Jr.,F,,31:48,1.000,0.000,0.571,0.000,0.000,0.000,0.429,0.000,0.571,1.000,0.000,0.00,0.00,1.000,0.000
1,0021601076,1610612756,PHX,Phoenix,1627737,Marquese Chriss,F,,21:08,0.700,0.300,0.667,0.000,0.000,0.000,0.333,0.333,0.667,1.000,0.000,0.00,0.00,1.000,0.000
2,0021601076,1610612756,PHX,Phoenix,203458,Alex Len,C,,25:35,1.000,0.000,0.727,0.364,0.000,0.000,0.273,0.000,0.364,0.750,0.250,0.00,0.00,0.750,0.250
3,0021601076,1610612756,PHX,Phoenix,1626164,Devin Booker,G,,44:58,0.725,0.275,0.486,0.229,0.171,0.214,0.343,0.243,0.257,0.353,0.647,0.75,0.25,0.429,0.571
4,0021601076,1610612756,PHX,Phoenix,1627755,Tyler Ulis,G,,34:11,1.000,0.000,0.667,0.667,0.000,0.000,0.333,0.000,0.000,0.000,1.000,0.00,0.00,0.000,1.000

In [4]:
from nba_api.stats.endpoints import boxscoresummaryv2
boxscore_summaryv2 = boxscoresummaryv2.BoxScoreSummaryV2(game_id='0021601076')
dbook_game_summaryv2 = boxscore_summaryv2.get_data_frames()[0]
dbook_game_summaryv2.head()

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,GAME_STATUS_ID,GAME_STATUS_TEXT,GAMECODE,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,LIVE_PERIOD,LIVE_PC_TIME,NATL_TV_BROADCASTER_ABBREVIATION,LIVE_PERIOD_TIME_BCAST,WH_STATUS
0,2017-03-24T00:00:00,5,0021601076,3,Final,20170324/PHXBOS,1610612738,1610612756,2016,4,,None,Q4 -,1

In [57]:
from nba_api.stats.endpoints import boxscoretraditionalv2
boxscore_traditionalv2 = boxscoretraditionalv2.BoxScoreTraditionalV2(game_id='0021601076')
dbook_game_traditionalv2 = boxscore_traditionalv2.get_data_frames()[0]
dbook_game_traditionalv2.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,0021601076,1610612756,PHX,Phoenix,1627884,Derrick Jones Jr.,F,,31:48,2.0,3.0,0.667,0.0,0.0,0.000,3.0,4.0,0.750,2.0,2.0,4.0,0.0,1.0,0.0,0.0,6.0,7.0,-9.0
1,0021601076,1610612756,PHX,Phoenix,1627737,Marquese Chriss,F,,21:08,1.0,10.0,0.100,0.0,3.0,0.000,1.0,2.0,0.500,0.0,6.0,6.0,1.0,1.0,0.0,2.0,5.0,3.0,-24.0
2,0021601076,1610612756,PHX,Phoenix,203458,Alex Len,C,,25:35,4.0,5.0,0.800,0.0,0.0,0.000,3.0,7.0,0.429,1.0,5.0,6.0,2.0,0.0,2.0,1.0,3.0,11.0,-15.0
3,0021601076,1610612756,PHX,Phoenix,1626164,Devin Booker,G,,44:58,21.0,40.0,0.525,4.0,11.0,0.364,24.0,26.0,0.923,2.0,6.0,8.0,6.0,3.0,1.0,5.0,3.0,70.0,-6.0
4,0021601076,1610612756,PHX,Phoenix,1627755,Tyler Ulis,G,,34:11,1.0,4.0,0.250,0.0,0.0,0.000,1.0,2.0,0.500,0.0,2.0,2.0,4.0,2.0,0.0,2.0,3.0,3.0,-12.0

In [115]:
from nba_api.stats.endpoints import infographicfanduelplayer
infographic_fanduelplayer = infographicfanduelplayer.InfographicFanDuelPlayer(game_id='0021601076')
dbook_game_infographic_fanduelplayer = infographic_fanduelplayer.get_data_frames()[0]
dbook_game_infographic_fanduelplayer.head()

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,JERSEY_NUM,PLAYER_POSITION,LOCATION,FAN_DUEL_PTS,NBA_FANTASY_PTS,USG_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS
0,202738,Isaiah Thomas,1610612738,Boston Celtics,BOS,4,G,Home,44.8,44.9,0.314,32.7,10,20,0.500,3,9,0.333,11,11,1.0,1,1,2,7,2,0,0,1,2,7,34,24
1,201143,Al Horford,1610612738,Boston Celtics,BOS,42,C,Home,38.0,40.0,0.162,30.3,7,10,0.700,0,1,0.000,1,2,0.5,3,7,10,6,2,2,0,0,2,2,15,6
2,101161,Amir Johnson,1610612738,Boston Celtics,BOS,90,F,Home,30.1,36.1,0.155,27.0,4,9,0.444,0,1,0.000,0,2,0.0,5,3,8,1,1,3,3,1,3,3,8,26
3,203109,Jae Crowder,1610612738,Boston Celtics,BOS,99,F,Home,27.5,27.5,0.153,27.1,4,8,0.500,2,5,0.400,3,3,1.0,0,10,10,3,2,0,0,0,3,3,13,6
4,203935,Marcus Smart,1610612738,Boston Celtics,BOS,36,G,Home,24.6,26.6,0.218,31.2,1,13,0.077,1,9,0.111,6,6,1.0,1,2,3,6,1,2,0,0,4,6,9,-18

In [156]:
from nba_api.stats.endpoints import playbyplayv2
playbyplayv2 = playbyplayv2.PlayByPlayV2(game_id='0021601076')
dbook_game_playbyplayv2 = playbyplayv2.get_data_frames()[0]
dbook_game_playbyplayv2.head()

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN,PERSON1TYPE,PLAYER1_ID,PLAYER1_NAME,PLAYER1_TEAM_ID,PLAYER1_TEAM_CITY,PLAYER1_TEAM_NICKNAME,PLAYER1_TEAM_ABBREVIATION,PERSON2TYPE,PLAYER2_ID,PLAYER2_NAME,PLAYER2_TEAM_ID,PLAYER2_TEAM_CITY,PLAYER2_TEAM_NICKNAME,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION,VIDEO_AVAILABLE_FLAG
0,0021601076,1,12,0,1,7:41 PM,12:00,None,None,None,None,None,0.0,0,None,NaN,None,None,None,0,0,None,NaN,None,None,None,0,0,None,NaN,None,None,None,0
1,0021601076,2,10,0,1,7:41 PM,12:00,"Jump Ball Johnson vs. Len: Tip to Jones, Jr.",None,None,None,None,4.0,101161,Amir Johnson,1.610613e+09,Boston,Celtics,BOS,5,203458,Alex Len,1.610613e+09,Phoenix,Suns,PHX,5,1627884,Derrick Jones Jr.,1.610613e+09,Phoenix,Suns,PHX,0
2,0021601076,3,2,52,1,7:41 PM,11:46,None,None,MISS Chriss 1' Alley Oop Dunk,None,None,5.0,1627737,Marquese Chriss,1.610613e+09,Phoenix,Suns,PHX,0,0,None,NaN,None,None,None,0,0,None,NaN,None,None,None,0
3,0021601076,4,4,0,1,7:41 PM,11:45,None,None,"Jones, Jr. REBOUND (Off:1 Def:0)",None,None,5.0,1627884,Derrick Jones Jr.,1.610613e+09,Phoenix,Suns,PHX,0,0,None,NaN,None,None,None,0,0,None,NaN,None,None,None,0
4,0021601076,5,2,1,1,7:41 PM,11:41,None,None,MISS Len 16' Jump Shot,None,None,5.0,203458,Alex Len,1.610613e+09,Phoenix,Suns,PHX,0,0,None,NaN,None,None,None,0,0,None,NaN,None,None,None,0

# Team Id Required

In [315]:
from nba_api.stats.endpoints import teamplayeronoffdetails
teamplayeronoff_details = teamplayeronoffdetails.TeamPlayerOnOffDetails(team_id='1610612756')
dbook_game_teamplayeronoffdetails = teamplayeronoff_details.get_data_frames()[1]
dbook_game_teamplayeronoffdetails.head()

,GROUP_SET,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,VS_PLAYER_ID,VS_PLAYER_NAME,COURT_STATUS,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,On/Off Court,1610612756,PHX,Phoenix Suns,203112,"Acy, Quincy",On,10,2,8,0.200,122.930000,95,220,0.432,27,93,0.290,57,78,0.731,20,89,109,60,34.0,22,16,12,76,66,274,4.0,18,19,7,15,18,18,18,18,18,18,19,17,17,22,18,18,18,18,6,18,17,7,8,17,18,1
1,On/Off Court,1610612756,PHX,Phoenix Suns,201583,"Anderson, Ryan",On,15,3,12,0.200,277.691667,200,470,0.426,49,167,0.293,90,112,0.804,51,202,253,119,108.0,33,17,34,136,135,539,-82.0,15,16,10,15,16,16,16,19,16,16,18,16,16,3,16,16,16,16,9,16,16,9,9,16,16,10
2,On/Off Court,1610612756,PHX,Phoenix Suns,2772,"Ariza, Trevor",On,26,4,22,0.154,883.830000,701,1564,0.448,190,563,0.337,252,330,0.764,135,568,703,430,304.0,142,72,80,424,336,1844,-278.0,13,14,12,19,11,11,11,14,10,10,6,13,13,16,13,11,12,11,14,12,13,14,14,12,12,19
3,On/Off Court,1610612756,PHX,Phoenix Suns,1629028,"Ayton, Deandre",On,71,17,54,0.239,2182.688333,1842,3956,0.466,436,1266,0.344,724,917,0.790,424,1403,1827,1123,697.0,413,193,220,1025,871,4844,-383.0,3,3,21,7,3,3,3,6,3,3,3,3,4,6,3,3,3,2,22,2,4,21,22,4,3,22
4,On/Off Court,1610612756,PHX,Phoenix Suns,1627733,"Bender, Dragan",On,46,9,37,0.196,826.208333,686,1489,0.461,175,547,0.320,306,398,0.769,160,549,709,403,286.0,153,89,72,369,350,1853,-159.0,10,11,15,17,12,12,12,8,12,12,13,11,10,14,11,12,11,12,13,11,11,13,13,11,11,14

In [68]:
from nba_api.stats.endpoints import commonteamroster
common_teamroster = commonteamroster.CommonTeamRoster(team_id='1610612756')
dbook_game_commonteamroster = common_teamroster.get_data_frames()[0]
dbook_game_commonteamroster.head()

,TeamID,SEASON,LeagueID,PLAYER,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID
0,1610612756,2018,00,Devin Booker,1,G,6-6,210,"OCT 30, 1996",22.0,3,Kentucky,1626164
1,1610612756,2018,00,Elie Okobo,2,G,6-3,190,"OCT 23, 1997",21.0,R,,1629059
2,1610612756,2018,00,Kelly Oubre Jr.,3,F,6-7,205,"DEC 09, 1995",23.0,3,Kansas,1626162
3,1610612756,2018,00,George King,8,F,6-6,220,"JAN 15, 1994",25.0,R,University of Colorado Boulder,1628994
4,1610612756,2018,00,Jamal Crawford,11,G,6-5,185,"MAR 20, 1980",39.0,18,Michigan,2037

In [102]:
from nba_api.stats.endpoints import franchiseleaders
franchise_leaders = franchiseleaders.FranchiseLeaders(team_id='1610612756')
franchise_leaders_df = franchise_leaders.get_data_frames()[0]
franchise_leaders_df.head()

,TEAM_ID,PTS,PTS_PERSON_ID,PTS_PLAYER,AST,AST_PERSON_ID,AST_PLAYER,REB,REB_PERSON_ID,REB_PLAYER,BLK,BLK_PERSON_ID,BLK_PLAYER,STL,STL_PERSON_ID,STL_PLAYER
0,1610612756,15666,1453,Walter Davis,6997,959,Steve Nash,6937,76011,Alvan Adams,940,77685,Larry Nance,1289,76011,Alvan Adams

In [103]:
from nba_api.stats.endpoints import franchiseplayers
franchise_players = franchiseplayers.FranchisePlayers(team_id='1610612756')
franchise_players_df = franchise_players.get_data_frames()[0]
franchise_players_df.sort_values(by='GP', ascending = False).head()

,LEAGUE_ID,TEAM_ID,TEAM,PERSON_ID,PLAYER,SEASON_TYPE,ACTIVE_WITH_TEAM,GP,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS
163,00,1610612756,Phoenix Suns,76011,Alvan Adams,Regular Season,0,988,5709,11464,0.498,2.0,15.0,0.133,2490,3160,0.788,2015.0,4922.0,6937,4012,3214,1289.0,2194.0,808.0,13910
94,00,1610612756,Phoenix Suns,1453,Walter Davis,Regular Season,0,766,6497,12497,0.520,115.0,410.0,0.280,2557,3039,0.841,711.0,1761.0,2472,3340,1888,1040.0,2174.0,115.0,15666
78,00,1610612756,Phoenix Suns,959,Steve Nash,Regular Season,0,744,3936,7807,0.504,1051.0,2417.0,0.435,1789,1972,0.907,329.0,1964.0,2293,6997,1079,511.0,2301.0,67.0,10712
265,00,1610612756,Phoenix Suns,78398,Dick Van Arsdale,Regular Season,0,685,4328,9185,0.471,NaN,NaN,NaN,3404,4186,0.813,188.0,476.0,2452,2399,1851,264.0,NaN,44.0,12060
17,00,1610612756,Phoenix Suns,134,Kevin Johnson,Regular Season,0,683,4369,8849,0.494,158.0,515.0,0.307,3851,4579,0.841,477.0,1855.0,2332,6518,1445,1022.0,2176.0,159.0,12747

# Player Id Required

In [256]:
from nba_api.stats.endpoints import playerfantasyprofile
player_fantasyprofile = playerfantasyprofile.PlayerFantasyProfile('1626164', per_mode36='Per36')
player_fantasyprofile_df = player_fantasyprofile.get_data_frames()[3]
player_fantasyprofile_df.head()

,GROUP_SET,GROUP_VALUE,SEASON_YEAR,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,DD2,TD3,FAN_DUEL_PTS,NBA_FANTASY_PTS
0,Days Rest,0 Days Rest,2018-19,8,3,5,0.375,285.826667,10.0,20.5,0.485,1.4,5.5,0.250,7.7,8.6,0.897,0.5,3.8,4.3,7.2,4.4,0.6,0.1,0.9,2.8,7.1,29.0,-3.9,2,0,42.0,42.7
1,Days Rest,1 Days Rest,2018-19,38,9,29,0.237,1313.875000,9.6,20.7,0.466,2.3,7.0,0.324,6.3,7.3,0.868,0.7,3.4,4.1,6.8,4.2,1.0,0.2,1.3,3.3,6.2,27.9,-4.9,6,0,41.2,42.3
2,Days Rest,2+ Days Rest,2018-19,18,3,15,0.167,642.416667,8.7,18.8,0.461,2.3,6.4,0.360,5.7,6.8,0.843,0.6,4.0,4.5,7.1,4.2,0.8,0.3,1.3,3.2,6.1,25.4,-6.8,4,0,39.5,40.7

In [269]:
from nba_api.stats.endpoints import playergamelog
player_gamelog = playergamelog.PlayerGameLog('1626164')
player_gamelog_df = player_gamelog.get_data_frames()[0]
player_gamelog_df.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22018,1626164,0021801174,"APR 03, 2019",PHX vs. UTA,L,8,3,4,0.750,0,1,0.000,2,2,1.000,0,0,0,1,0,0,0,1,8,9,1
1,22018,1626164,0021801160,"APR 01, 2019",PHX vs. CLE,W,35,8,18,0.444,2,9,0.222,7,7,1.000,0,3,3,13,0,0,6,3,25,-6,1
2,22018,1626164,0021801144,"MAR 30, 2019",PHX vs. MEM,L,43,19,29,0.655,3,6,0.500,7,8,0.875,1,2,3,11,0,0,6,3,48,1,1
3,22018,1626164,0021801120,"MAR 27, 2019",PHX vs. WAS,L,37,19,29,0.655,3,9,0.333,9,10,0.900,2,8,10,4,1,1,5,3,50,8,1
4,22018,1626164,0021801105,"MAR 25, 2019",PHX @ UTA,L,41,19,34,0.559,5,8,0.625,16,17,0.941,1,3,4,4,1,0,6,5,59,-13,1

In [264]:
from nba_api.stats.endpoints import playerfantasyprofilebargraph
playerfantasy_profilebargraph = playerfantasyprofilebargraph.PlayerFantasyProfileBarGraph('1626164')
playerfantasy_profilebargraph_df = playerfantasy_profilebargraph.get_data_frames()[1]
playerfantasy_profilebargraph_df.head()

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,FAN_DUEL_PTS,NBA_FANTASY_PTS,PTS,REB,AST,FG3M,FT_PCT,STL,BLK,TOV,FG_PCT
0,1626164,Devin Booker,1610612756,PHX,49.3,49.9,38.0,4.0,6.6,2.6,0.932,0.4,0.2,4.6,0.596

In [239]:
from nba_api.stats.endpoints import commonplayerinfo
common_playerinfo = commonplayerinfo.CommonPlayerInfo('1626164')
common_playerinfo_df = common_playerinfo.get_data_frames()[0]
common_playerinfo_df.head()

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,BIRTHDATE,SCHOOL,COUNTRY,LAST_AFFILIATION,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,ROSTERSTATUS,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,TEAM_CITY,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,1626164,Devin,Booker,Devin Booker,"Booker, Devin",D. Booker,1996-10-30T00:00:00,Kentucky,USA,Kentucky/USA,6-6,210,4,1,Forward,Active,1610612756,Suns,PHX,suns,Phoenix,devin_booker,2015,2019,N,Y,Y,2015,1,13

In [190]:
from nba_api.stats.endpoints import playerdashboardbygamesplits
playerdashboardby_gamesplits = playerdashboardbygamesplits.PlayerDashboardByGameSplits('1626164')
playerdashboardby_gamesplits_df = playerdashboardby_gamesplits.get_data_frames()[3]
playerdashboardby_gamesplits_df.head()

,GROUP_SET,GROUP_VALUE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,DD2,TD3,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,By Score Margin,Tied,64,15,49,0.234,162.696667,35,79,0.443,13,30,0.433,22,25,0.880,4,14,18,21,17,2,2,5,9,21,105,-127,153.1,12,0,1,1,4,2,5,5,5,6,4,5,1,6,6,1,4,5,5,6,5,6,3,1,1,6,5,5,6,1,1,26,Tied
1,By Score Margin,1 - 5 Points,64,15,49,0.234,928.363333,247,529,0.467,57,175,0.326,138,159,0.868,14,105,119,175,111,24,5,28,69,141,689,-180,1070.3,12,0,1,1,4,2,1,1,1,4,1,1,5,1,1,4,1,1,1,1,1,1,1,6,6,1,1,6,1,1,1,26,1 - 5 Points
2,By Score Margin,6 - 10 Points,64,15,49,0.234,489.540000,125,274,0.456,29,103,0.282,79,93,0.849,7,42,49,97,57,13,1,16,58,76,358,-43,547.3,12,0,1,1,4,2,2,2,2,5,2,2,6,3,3,6,3,2,2,2,2,2,4,5,5,2,2,3,2,1,1,26,6 - 10 Points
3,By Score Margin,11 - 15 Points,57,15,42,0.263,327.748333,94,197,0.477,18,55,0.327,85,97,0.876,9,31,40,72,34,8,4,13,33,73,291,-6,449.0,9,0,4,1,3,1,3,3,3,2,3,3,4,2,2,2,2,3,3,3,3,3,2,4,4,3,3,2,3,4,1,26,11 - 15 Points
4,By Score Margin,16 - 20 Points,39,6,33,0.154,200.408333,52,110,0.473,12,33,0.364,40,46,0.870,3,24,27,43,28,3,1,8,17,44,156,-51,236.9,5,0,5,5,2,6,4,4,4,3,5,4,2,4,4,3,5,4,4,4,4,5,4,3,3,4,4,4,4,5,1,26,16 - 20 Points

In [202]:
from nba_api.stats.endpoints import playerdashboardbyshootingsplits
playerdashboardby_shootingsplits = playerdashboardbyshootingsplits.PlayerDashboardByShootingSplits('1626164')
playerdashboardby_shootingsplits_df = playerdashboardby_shootingsplits.get_data_frames()[4]
playerdashboardby_shootingsplits_df.head()

,GROUP_SET,GROUP_VALUE,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,EFG_PCT,BLKA,PCT_AST_2PM,PCT_UAST_2PM,PCT_AST_3PM,PCT_UAST_3PM,PCT_AST_FGM,PCT_UAST_FGM,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,EFG_PCT_RANK,BLKA_RANK,PCT_AST_2PM_RANK,PCT_UAST_2PM_RANK,PCT_AST_3PM_RANK,PCT_UAST_3PM_RANK,PCT_AST_FGM_RANK,PCT_UAST_FGM_RANK,CFID,CFPARAMS
0,Assisted Shot,Assisted,211,211,1.0,78,78,1.0,1.185,0,1.0,0.0,1.0,0.0,1.0,0.0,2,2,1,1,1,1,1,1,1,2,1,2,1,2,46,Assisted
1,Assisted Shot,Unassisted,375,375,1.0,57,57,1.0,1.076,0,0.0,1.0,0.0,1.0,0.0,1.0,1,1,1,2,2,1,2,1,2,1,2,1,2,1,46,Unassisted

In [208]:
from nba_api.stats.endpoints import playerdashboardbyyearoveryear
playerdashboardby_yearoveryear = playerdashboardbyyearoveryear.PlayerDashboardByYearOverYear('1626164')
playerdashboardby_yearoveryear_df = playerdashboardby_yearoveryear.get_data_frames()[1]
playerdashboardby_yearoveryear_df.head()

,GROUP_SET,GROUP_VALUE,TEAM_ID,TEAM_ABBREVIATION,MAX_GAME_DATE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,DD2,TD3,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,By Year,2018-19,1610612756,PHX,2019-04-03T00:00:00,64,15,49,0.234,2242.118333,586,1255,0.467,135,414,0.326,393,454,0.866,39,226,265,433,264,56,13,76,200,391,1700,-331,2610.5,12,0,3,4,2,4,2,2,2,1,3,1,4,1,1,2,2,1,1,1,1,2,4,3,2,1,2,2,1,1,1,264,2018-19
1,By Year,2017-18,1610612756,PHX,2018-03-15T00:00:00,54,16,38,0.296,1865.296667,455,1054,0.432,147,384,0.383,289,329,0.878,26,218,244,253,194,47,14,60,168,290,1346,-358,2007.3,4,0,4,3,1,2,4,3,3,2,1,3,1,3,3,1,4,2,3,3,3,3,3,1,1,3,3,3,3,2,1,264,2017-18
2,By Year,2016-17,1610612756,PHX,2017-04-09T00:00:00,78,24,54,0.308,2730.553333,606,1431,0.423,147,405,0.363,367,441,0.832,46,203,249,268,241,72,21,91,242,359,1726,-225,2464.8,0,0,1,1,3,1,1,1,1,3,1,2,2,2,2,4,1,3,2,2,2,1,1,4,4,2,1,1,2,4,1,264,2016-17
3,By Year,2015-16,1610612756,PHX,2016-04-13T00:00:00,76,20,56,0.263,2107.665000,367,867,0.423,99,289,0.343,215,256,0.840,27,160,187,200,160,44,20,64,225,243,1048,-373,1604.4,3,0,2,2,4,3,3,4,4,4,4,4,3,4,4,3,3,4,4,4,4,4,2,2,3,4,4,4,4,3,1,264,2015-16

In [173]:
from nba_api.stats.endpoints import playercompare
player_compare = playercompare.PlayerCompare(vs_player_id_list='1626164', player_id_list='203076')
dbook_game_player_compare = player_compare.get_data_frames()[1]
dbook_game_player_compare.head()

,GROUP_SET,DESCRIPTION,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS
0,INDIVIDUAL,A. Davis,1849.883333,530,1026,0.517,48,145,0.331,344,433,0.794,174,498,672,218,112,88,135,40,132,368,1452,133.0
1,VS INDIVIDUAL,D. Booker,2242.118333,586,1255,0.467,135,414,0.326,393,454,0.866,39,226,265,433,264,56,13,76,200,391,1700,-331.0

In [293]:
from nba_api.stats.endpoints import playervsplayer
player_vsplayer = playervsplayer.PlayerVsPlayer(vs_player_id='1626164', player_id='201939')
player_vsplayer_df = player_vsplayer.get_data_frames()[6]
player_vsplayer_df.head()

,GROUP_SET,PLAYER_ID,PLAYER_NAME,VS_PLAYER_ID,VS_PLAYER_NAME,COURT_STATUS,GROUP_VALUE,FGM,FGA,FG_PCT,CFID,CFPARAMS
0,Vs. Player,201939,Stephen Curry,1626164,"Booker, Devin",On,Restricted Area,5,7,0.714,95,1626164
1,Vs. Player,201939,Stephen Curry,1626164,"Booker, Devin",On,In The Paint (Non-RA),4,4,1.000,96,1626164
2,Vs. Player,201939,Stephen Curry,1626164,"Booker, Devin",On,Mid-Range,1,1,1.000,97,1626164
3,Vs. Player,201939,Stephen Curry,1626164,"Booker, Devin",On,Left Corner 3,3,3,1.000,98,1626164
4,Vs. Player,201939,Stephen Curry,1626164,"Booker, Devin",On,Right Corner 3,0,0,0.000,99,1626164

In [280]:
from nba_api.stats.endpoints import playerawards
player_awards = playerawards.PlayerAwards(player_id='977')
kobe_award = player_awards.get_data_frames()[0]
kobe_award.sort_values(by='SEASON').head()

,PERSON_ID,FIRST_NAME,LAST_NAME,TEAM,DESCRIPTION,ALL_NBA_TEAM_NUMBER,SEASON,MONTH,WEEK,CONFERENCE,TYPE,SUBTYPE1,SUBTYPE2,SUBTYPE3
75,977,Kobe,Bryant,Los Angeles Lakers,All-Rookie Team,2,1996-97,None,None,1610612747,Award,Kia Motors,KIART,None
73,977,Kobe,Bryant,Los Angeles Lakers,All-NBA,3,1998-99,None,None,1610612747,Award,Kia Motors,KIANT,None
85,977,Kobe,Bryant,Los Angeles Lakers,All-NBA,2,1999-00,None,None,1610612747,Award,Kia Motors,KIANT,None
10,977,Kobe,Bryant,Los Angeles Lakers,NBA Player of the Week,None,1999-00,None,2000-04-17T00:00:00,None,Award,Kia Motors,KIPWK,None
25,977,Kobe,Bryant,Los Angeles Lakers,All-Defensive Team,1,1999-00,None,None,1610612747,Award,Kia Motors,KIADT,None

# Team and Player Id

In [214]:
from nba_api.stats.endpoints import playerdashptpass
playerdash_ptpass = playerdashptpass.PlayerDashPtPass(team_id='1610612756',player_id='1626164')
playerdash_ptpass_df = playerdash_ptpass.get_data_frames()[0]
playerdash_ptpass_df.head()

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,TEAM_NAME,TEAM_ID,TEAM_ABBREVIATION,PASS_TYPE,G,PASS_TO,PASS_TEAMMATE_PLAYER_ID,FREQUENCY,PASS,AST,FGM,FGA,FG_PCT,FG2M,FG2A,FG2_PCT,FG3M,FG3A,FG3_PCT
0,1626164,"Booker, Devin",Phoenix Suns,1610612756,PHX,made,64,"Terry, Emanuel",1629150,0.001,3,1,1,1,1.000,1,1,1.000,0,0,0.000
1,1626164,"Booker, Devin",Phoenix Suns,1610612756,PHX,made,64,"Okobo, Elie",1629059,0.035,103,9,12,27,0.444,6,10,0.600,6,17,0.353
2,1626164,"Booker, Devin",Phoenix Suns,1610612756,PHX,made,64,"Spalding, Ray",1629034,0.003,8,1,1,6,0.167,1,5,0.200,0,1,0.000
3,1626164,"Booker, Devin",Phoenix Suns,1610612756,PHX,made,64,"Ayton, Deandre",1629028,0.163,477,98,115,203,0.567,115,202,0.569,0,1,0.000
4,1626164,"Booker, Devin",Phoenix Suns,1610612756,PHX,made,64,"Melton, De'Anthony",1629001,0.052,151,14,17,40,0.425,12,18,0.667,5,22,0.227

In [237]:
from nba_api.stats.endpoints import playerdashptshots
playerdash_ptshots = playerdashptshots.PlayerDashPtShots(team_id='1610612756',player_id='1626164')
playerdash_ptshots_df = playerdash_ptshots.get_data_frames()[5]
playerdash_ptshots_df.head()

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,SORT_ORDER,GP,G,CLOSE_DEF_DIST_RANGE,FGA_FREQUENCY,FGM,FGA,FG_PCT,EFG_PCT,FG2A_FREQUENCY,FG2M,FG2A,FG2_PCT,FG3A_FREQUENCY,FG3M,FG3A,FG3_PCT
0,1626164,"Booker, Devin",1,64,24,0-2 Feet - Very Tight,0.023,11,29,0.379,0.414,0.016,9,20,0.450,0.007,2,9,0.222
1,1626164,"Booker, Devin",2,64,62,2-4 Feet - Tight,0.227,121,285,0.425,0.479,0.154,90,193,0.466,0.073,31,92,0.337
2,1626164,"Booker, Devin",3,64,63,4-6 Feet - Open,0.298,138,374,0.369,0.452,0.131,76,164,0.463,0.167,62,210,0.295
3,1626164,"Booker, Devin",4,64,57,6+ Feet - Wide Open,0.103,58,129,0.450,0.605,0.021,18,26,0.692,0.082,40,103,0.388

In [296]:
from nba_api.stats.endpoints import shotchartdetail
shotchart_detail = shotchartdetail.ShotChartDetail(team_id='1610612756',player_id='1626164')
shotchart_detail_df = shotchart_detail.get_data_frames()[0]
shotchart_detail_df.sort_values(by='GAME_ID').head()

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,EVENT_TYPE,ACTION_TYPE,SHOT_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,0021500014,449,1626164,Devin Booker,1610612756,Phoenix Suns,3,2,50,Made Shot,Jump Shot,2PT Field Goal,Mid-Range,Center(C),8-16 ft.,14,-11,146,1,1,20151028,PHX,DAL
1,Shot Chart Detail,0021500014,468,1626164,Devin Booker,1610612756,Phoenix Suns,3,0,26,Made Shot,Jump Shot,3PT Field Goal,Right Corner 3,Right Side(R),24+ ft.,22,228,-26,1,1,20151028,PHX,DAL
2,Shot Chart Detail,0021500014,484,1626164,Devin Booker,1610612756,Phoenix Suns,4,10,39,Made Shot,Layup Shot,2PT Field Goal,Restricted Area,Center(C),Less Than 8 ft.,0,0,7,1,1,20151028,PHX,DAL
3,Shot Chart Detail,0021500014,570,1626164,Devin Booker,1610612756,Phoenix Suns,4,3,19,Made Shot,Driving Layup Shot,2PT Field Goal,Restricted Area,Center(C),Less Than 8 ft.,1,17,0,1,1,20151028,PHX,DAL
4,Shot Chart Detail,0021500014,586,1626164,Devin Booker,1610612756,Phoenix Suns,4,1,51,Made Shot,Alley Oop Layup shot,2PT Field Goal,Restricted Area,Center(C),Less Than 8 ft.,2,17,21,1,1,20151028,PHX,DAL

# No Arguments Required

In [62]:
from nba_api.stats.endpoints import commonallplayers
#no argument required but 1 gives the current season
common_allplayers = commonallplayers.CommonAllPlayers(is_only_current_season=1)
common_allplayers_df = common_allplayers.get_data_frames()[0]
common_allplayers_df.head()

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
0,203518,"Abrines, Alex",Alex Abrines,0,2016,2018,alex_abrines,0,,,,,Y,00
1,203112,"Acy, Quincy",Quincy Acy,0,2012,2018,quincy_acy,0,,,,,Y,11
2,1629121,"Adams, Jaylen",Jaylen Adams,1,2018,2018,jaylen_adams,1610612737,Atlanta,Hawks,ATL,hawks,Y,11
3,203500,"Adams, Steven",Steven Adams,1,2013,2019,steven_adams,1610612760,Oklahoma City,Thunder,OKC,thunder,Y,00
4,1628389,"Adebayo, Bam",Bam Adebayo,1,2017,2019,bam_adebayo,1610612748,Miami,Heat,MIA,heat,Y,00

In [66]:
from nba_api.stats.endpoints import commonplayoffseries
common_playoffseries = commonplayoffseries.CommonPlayoffSeries()
common_playoffseries_df = common_playoffseries.get_data_frames()[0]
common_playoffseries_df.head()

      GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID  SERIES_ID  GAME_NUM
0  0041800101    1610612749       1610612765  004180010         1
1  0041800102    1610612749       1610612765  004180010         2
2  0041800103    1610612765       1610612749  004180010         3
3  0041800104    1610612765       1610612749  004180010         4
4  0041800111    1610612761       1610612753  004180011         1

In [45]:
from nba_api.stats.endpoints import assistleaders
assist_leaders = assistleaders.AssistLeaders()
assist_leaders_df = assist_leaders.get_data_frames()[0]
assist_leaders_df.head()

   RANK     TEAM_ID TEAM_ABBREVIATION              TEAM_NAME   AST
0     1  1610612744               GSW  Golden State Warriors  2413
1     2  1610612743               DEN         Denver Nuggets  2245
2     3  1610612740               NOP   New Orleans Pelicans  2216
3     4  1610612755               PHI     Philadelphia 76ers  2207
4     5  1610612738               BOS         Boston Celtics  2155

In [52]:
from nba_api.stats.endpoints import assisttracker
assist_tracker = assisttracker.AssistTracker()
assist_tracker_df = assist_tracker.get_data_frames()[0]
assist_tracker_df.head()

   ASSISTS
0    54202

In [69]:
from nba_api.stats.endpoints import commonteamyears
common_teamyears = commonteamyears.CommonTeamYears()
common_teamyears_df = common_teamyears.get_data_frames()[0]
common_teamyears_df.head()

  LEAGUE_ID     TEAM_ID MIN_YEAR MAX_YEAR ABBREVIATION
0        00  1610612737     1949     2019          ATL
1        00  1610612738     1946     2019          BOS
2        00  1610612739     1970     2019          CLE
3        00  1610612740     2002     2019          NOP
4        00  1610612741     1966     2019          CHI

In [79]:
from nba_api.stats.endpoints import defensehub
defense_hub = defensehub.DefenseHub()
#defense_hub_df = defense_hub.get_data_sets()[0]

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [82]:
from nba_api.stats.endpoints import draftcombinenonstationaryshooting
draftcombine_nonstationaryshooting = draftcombinenonstationaryshooting.DraftCombineNonStationaryShooting()
draftcombine_nonstationaryshooting_df = draftcombine_nonstationaryshooting.get_data_frames()[0]
draftcombine_nonstationaryshooting_df.head()

,TEMP_PLAYER_ID,PLAYER_ID,FIRST_NAME,LAST_NAME,PLAYER_NAME,POSITION,OFF_DRIB_FIFTEEN_BREAK_LEFT_MADE,OFF_DRIB_FIFTEEN_BREAK_LEFT_ATTEMPT,OFF_DRIB_FIFTEEN_BREAK_LEFT_PCT,OFF_DRIB_FIFTEEN_TOP_KEY_MADE,OFF_DRIB_FIFTEEN_TOP_KEY_ATTEMPT,OFF_DRIB_FIFTEEN_TOP_KEY_PCT,OFF_DRIB_FIFTEEN_BREAK_RIGHT_MADE,OFF_DRIB_FIFTEEN_BREAK_RIGHT_ATTEMPT,OFF_DRIB_FIFTEEN_BREAK_RIGHT_PCT,OFF_DRIB_COLLEGE_BREAK_LEFT_MADE,OFF_DRIB_COLLEGE_BREAK_LEFT_ATTEMPT,OFF_DRIB_COLLEGE_BREAK_LEFT_PCT,OFF_DRIB_COLLEGE_TOP_KEY_MADE,OFF_DRIB_COLLEGE_TOP_KEY_ATTEMPT,OFF_DRIB_COLLEGE_TOP_KEY_PCT,OFF_DRIB_COLLEGE_BREAK_RIGHT_MADE,OFF_DRIB_COLLEGE_BREAK_RIGHT_ATTEMPT,OFF_DRIB_COLLEGE_BREAK_RIGHT_PCT,ON_MOVE_FIFTEEN_MADE,ON_MOVE_FIFTEEN_ATTEMPT,ON_MOVE_FIFTEEN_PCT,ON_MOVE_COLLEGE_MADE,ON_MOVE_COLLEGE_ATTEMPT,ON_MOVE_COLLEGE_PCT
0,1628959,1628959,Rawle,Alkins,Rawle Alkins,SG,2.0,4.0,0.5,1.0,4.0,0.25,2.0,4.0,0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,34.0,0.794,NaN,NaN,NaN
1,1628960,1628960,Grayson,Allen,Grayson Allen,SG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1628961,1628961,Kostas,Antetokounmpo,Kostas Antetokounmpo,PF,2.0,4.0,0.5,1.0,4.0,0.25,1.0,4.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,30.0,0.500,NaN,NaN,NaN
3,1628962,1628962,Udoka,Azubuike,Udoka Azubuike,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1628964,1628964,Mohamed,Bamba,Mohamed Bamba,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
from nba_api.stats.endpoints import draftcombinedrillresults
draftcombine_drillresults = draftcombinedrillresults.DraftCombineDrillResults()
draftcombine_drillresults_df = draftcombine_drillresults.get_data_frames()[0]
draftcombine_drillresults_df.head()

,TEMP_PLAYER_ID,PLAYER_ID,FIRST_NAME,LAST_NAME,PLAYER_NAME,POSITION,STANDING_VERTICAL_LEAP,MAX_VERTICAL_LEAP,LANE_AGILITY_TIME,MODIFIED_LANE_AGILITY_TIME,THREE_QUARTER_SPRINT,BENCH_PRESS
0,1628959,1628959,Rawle,Alkins,Rawle Alkins,SG,32.5,40.5,11.50,3.09,3.15,10.0
1,1628960,1628960,Grayson,Allen,Grayson Allen,SG,32.5,40.5,10.31,3.04,3.15,NaN
2,1628961,1628961,Kostas,Antetokounmpo,Kostas Antetokounmpo,PF,29.5,35.0,12.48,3.48,3.21,0.0
3,1628962,1628962,Udoka,Azubuike,Udoka Azubuike,C,31.0,31.5,12.97,3.65,3.12,11.0
4,1628964,1628964,Mohamed,Bamba,Mohamed Bamba,C,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
from nba_api.stats.endpoints import draftcombineplayeranthro
draftcombine_playeranthro = draftcombineplayeranthro.DraftCombinePlayerAnthro()
draftcombine_playeranthro_df = draftcombine_playeranthro.get_data_frames()[0]
draftcombine_playeranthro_df.head()

,TEMP_PLAYER_ID,PLAYER_ID,FIRST_NAME,LAST_NAME,PLAYER_NAME,POSITION,HEIGHT_WO_SHOES,HEIGHT_WO_SHOES_FT_IN,HEIGHT_W_SHOES,HEIGHT_W_SHOES_FT_IN,WEIGHT,WINGSPAN,WINGSPAN_FT_IN,STANDING_REACH,STANDING_REACH_FT_IN,BODY_FAT_PCT,HAND_LENGTH,HAND_WIDTH
0,1628959,1628959,Rawle,Alkins,Rawle Alkins,SG,74.75,6' 2.75'',76.25,6' 4.25'',217.4,80.75,6' 8.75'',99.0,8' 3'',8.90,8.50,10.00
1,1628960,1628960,Grayson,Allen,Grayson Allen,SG,75.00,6' 3'',76.50,6' 4.5'',198,79.25,6' 7.25'',97.0,8' 1'',5.55,8.25,10.00
2,1628961,1628961,Kostas,Antetokounmpo,Kostas Antetokounmpo,PF,81.00,6' 9'',82.50,6' 10.5'',194.8,86.25,7' 2.25'',110.0,9' 2'',5.00,9.25,9.50
3,1628962,1628962,Udoka,Azubuike,Udoka Azubuike,C,82.00,6' 10'',84.25,7' 0.25'',273.8,91.00,7' 7'',112.5,9' 4.5'',7.95,9.50,10.00
4,1628964,1628964,Mohamed,Bamba,Mohamed Bamba,C,83.25,6' 11.25'',84.75,7' 0.75'',225.6,94.00,7' 10'',115.5,9' 7.5'',6.20,9.75,10.25

In [85]:
from nba_api.stats.endpoints import draftcombinespotshooting
draftcombine_spotshooting = draftcombinespotshooting.DraftCombineSpotShooting()
draftcombine_spotshooting_df = draftcombine_spotshooting.get_data_frames()[0]
draftcombine_spotshooting_df.head()

,TEMP_PLAYER_ID,PLAYER_ID,FIRST_NAME,LAST_NAME,PLAYER_NAME,POSITION,FIFTEEN_CORNER_LEFT_MADE,FIFTEEN_CORNER_LEFT_ATTEMPT,FIFTEEN_CORNER_LEFT_PCT,FIFTEEN_BREAK_LEFT_MADE,FIFTEEN_BREAK_LEFT_ATTEMPT,FIFTEEN_BREAK_LEFT_PCT,FIFTEEN_TOP_KEY_MADE,FIFTEEN_TOP_KEY_ATTEMPT,FIFTEEN_TOP_KEY_PCT,FIFTEEN_BREAK_RIGHT_MADE,FIFTEEN_BREAK_RIGHT_ATTEMPT,FIFTEEN_BREAK_RIGHT_PCT,FIFTEEN_CORNER_RIGHT_MADE,FIFTEEN_CORNER_RIGHT_ATTEMPT,FIFTEEN_CORNER_RIGHT_PCT,COLLEGE_CORNER_LEFT_MADE,COLLEGE_CORNER_LEFT_ATTEMPT,COLLEGE_CORNER_LEFT_PCT,COLLEGE_BREAK_LEFT_MADE,COLLEGE_BREAK_LEFT_ATTEMPT,COLLEGE_BREAK_LEFT_PCT,COLLEGE_TOP_KEY_MADE,COLLEGE_TOP_KEY_ATTEMPT,COLLEGE_TOP_KEY_PCT,COLLEGE_BREAK_RIGHT_MADE,COLLEGE_BREAK_RIGHT_ATTEMPT,COLLEGE_BREAK_RIGHT_PCT,COLLEGE_CORNER_RIGHT_MADE,COLLEGE_CORNER_RIGHT_ATTEMPT,COLLEGE_CORNER_RIGHT_PCT,NBA_CORNER_LEFT_MADE,NBA_CORNER_LEFT_ATTEMPT,NBA_CORNER_LEFT_PCT,NBA_BREAK_LEFT_MADE,NBA_BREAK_LEFT_ATTEMPT,NBA_BREAK_LEFT_PCT,NBA_TOP_KEY_MADE,NBA_TOP_KEY_ATTEMPT,NBA_TOP_KEY_PCT,NBA_BREAK_RIGHT_MADE,NBA_BREAK_RIGHT_ATTEMPT,NBA_BREAK_RIGHT_PCT,NBA_CORNER_RIGHT_MADE,NBA_CORNER_RIGHT_ATTEMPT,NBA_CORNER_RIGHT_PCT
0,1628959,1628959,Rawle,Alkins,Rawle Alkins,SG,2.0,5.0,0.4,4.0,5.0,0.8,3.0,5.0,0.6,4.0,5.0,0.8,3.0,5.0,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,0.2,4.0,5.0,0.8,3.0,5.0,0.6,5.0,5.0,1.0,2.0,5.0,0.4
1,1628960,1628960,Grayson,Allen,Grayson Allen,SG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1628961,1628961,Kostas,Antetokounmpo,Kostas Antetokounmpo,PF,3.0,5.0,0.6,2.0,5.0,0.4,2.0,5.0,0.4,3.0,5.0,0.6,3.0,5.0,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0,0.4,1.0,5.0,0.2,3.0,5.0,0.6,3.0,5.0,0.6,4.0,5.0,0.8
3,1628962,1628962,Udoka,Azubuike,Udoka Azubuike,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1628964,1628964,Mohamed,Bamba,Mohamed Bamba,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
from nba_api.stats.endpoints import draftcombinestats
draftcombine_stats = draftcombinestats.DraftCombineStats()
draftcombine_stats_df = draftcombine_stats.get_data_frames()[0]
draftcombine_stats_df.head()

,SEASON,PLAYER_ID,FIRST_NAME,LAST_NAME,PLAYER_NAME,POSITION,HEIGHT_WO_SHOES,HEIGHT_WO_SHOES_FT_IN,HEIGHT_W_SHOES,HEIGHT_W_SHOES_FT_IN,WEIGHT,WINGSPAN,WINGSPAN_FT_IN,STANDING_REACH,STANDING_REACH_FT_IN,BODY_FAT_PCT,HAND_LENGTH,HAND_WIDTH,STANDING_VERTICAL_LEAP,MAX_VERTICAL_LEAP,LANE_AGILITY_TIME,MODIFIED_LANE_AGILITY_TIME,THREE_QUARTER_SPRINT,BENCH_PRESS,SPOT_FIFTEEN_CORNER_LEFT,SPOT_FIFTEEN_BREAK_LEFT,SPOT_FIFTEEN_TOP_KEY,SPOT_FIFTEEN_BREAK_RIGHT,SPOT_FIFTEEN_CORNER_RIGHT,SPOT_COLLEGE_CORNER_LEFT,SPOT_COLLEGE_BREAK_LEFT,SPOT_COLLEGE_TOP_KEY,SPOT_COLLEGE_BREAK_RIGHT,SPOT_COLLEGE_CORNER_RIGHT,SPOT_NBA_CORNER_LEFT,SPOT_NBA_BREAK_LEFT,SPOT_NBA_TOP_KEY,SPOT_NBA_BREAK_RIGHT,SPOT_NBA_CORNER_RIGHT,OFF_DRIB_FIFTEEN_BREAK_LEFT,OFF_DRIB_FIFTEEN_TOP_KEY,OFF_DRIB_FIFTEEN_BREAK_RIGHT,OFF_DRIB_COLLEGE_BREAK_LEFT,OFF_DRIB_COLLEGE_TOP_KEY,OFF_DRIB_COLLEGE_BREAK_RIGHT,ON_MOVE_FIFTEEN,ON_MOVE_COLLEGE
0,2018,1628959,Rawle,Alkins,Rawle Alkins,SG,74.75,6' 2.75'',76.25,6' 4.25'',217.4,80.75,6' 8.75'',99.0,8' 3'',8.90,8.50,10.00,32.5,40.5,11.50,3.09,3.15,10.0,2-5,4-5,3-5,4-5,3-5,None,None,None,None,None,1-5,4-5,3-5,5-5,2-5,2-4,1-4,2-4,None,None,None,27-34,None
1,2018,1628960,Grayson,Allen,Grayson Allen,SG,75.00,6' 3'',76.50,6' 4.5'',198,79.25,6' 7.25'',97.0,8' 1'',5.55,8.25,10.00,32.5,40.5,10.31,3.04,3.15,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,2018,1628961,Kostas,Antetokounmpo,Kostas Antetokounmpo,PF,81.00,6' 9'',82.50,6' 10.5'',194.8,86.25,7' 2.25'',110.0,9' 2'',5.00,9.25,9.50,29.5,35.0,12.48,3.48,3.21,0.0,3-5,2-5,2-5,3-5,3-5,None,None,None,None,None,2-5,1-5,3-5,3-5,4-5,2-4,1-4,1-4,None,None,None,15-30,None
3,2018,1628962,Udoka,Azubuike,Udoka Azubuike,C,82.00,6' 10'',84.25,7' 0.25'',273.8,91.00,7' 7'',112.5,9' 4.5'',7.95,9.50,10.00,31.0,31.5,12.97,3.65,3.12,11.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,2018,1628964,Mohamed,Bamba,Mohamed Bamba,C,83.25,6' 11.25'',84.75,7' 0.75'',225.6,94.00,7' 10'',115.5,9' 7.5'',6.20,9.75,10.25,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [87]:
from nba_api.stats.endpoints import drafthistory
draft_history = drafthistory.DraftHistory()
draft_history_df = draft_history.get_data_frames()[0]
draft_history_df.head()

,PERSON_ID,PLAYER_NAME,SEASON,ROUND_NUMBER,ROUND_PICK,OVERALL_PICK,DRAFT_TYPE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,ORGANIZATION,ORGANIZATION_TYPE
0,1629627,Zion Williamson,2019,1,1,1,Draft,1610612740,New Orleans,Pelicans,NOP,Duke,College/University
1,1629630,Ja Morant,2019,1,2,2,Draft,1610612763,Memphis,Grizzlies,MEM,Murray State,College/University
2,1629628,RJ Barrett,2019,1,3,3,Draft,1610612752,New York,Knicks,NYK,Duke,College/University
3,1629631,De'Andre Hunter,2019,1,4,4,Draft,1610612747,Los Angeles,Lakers,LAL,Virginia,College/University
4,1629636,Darius Garland,2019,1,5,5,Draft,1610612739,Cleveland,Cavaliers,CLE,Vanderbilt,College/University

In [88]:
from nba_api.stats.endpoints import fantasywidget
fantasy_widget = fantasywidget.FantasyWidget()
fantasy_widget_df = fantasy_widget.get_data_frames()[0]
fantasy_widget_df.head()

,PLAYER_ID,PLAYER_NAME,PLAYER_POSITION,TEAM_ID,TEAM_ABBREVIATION,GP,MIN,FAN_DUEL_PTS,NBA_FANTASY_PTS,PTS,REB,AST,BLK,STL,TOV,FG3M,FGA,FG_PCT,FTA,FT_PCT
0,201935,James Harden,G,1610612745,HOU,78,36.8,55.9,58.7,36.1,6.6,7.5,0.74,2.03,5.0,4.8,24.5,0.442,11.0,0.879
1,203507,Giannis Antetokounmpo,F,1610612749,MIL,72,32.8,53.4,56.2,27.7,12.5,5.9,1.53,1.28,3.7,0.7,17.3,0.578,9.5,0.729
2,201566,Russell Westbrook,G,1610612760,OKC,73,36.0,52.7,55.1,22.9,11.1,10.7,0.45,1.95,4.5,1.6,20.2,0.428,6.2,0.656
3,203076,Anthony Davis,F-C,1610612740,NOP,56,33.0,52.1,56.1,25.9,12.0,3.9,2.41,1.57,2.0,0.9,18.3,0.517,7.7,0.794
4,203954,Joel Embiid,F-C,1610612755,PHI,64,33.7,51.0,53.7,27.5,13.6,3.7,1.91,0.72,3.5,1.2,18.7,0.484,10.1,0.804

In [91]:
from nba_api.stats.endpoints import franchisehistory
franchise_history = franchisehistory.FranchiseHistory()
franchise_history_df = franchise_history.get_data_frames()[0]
franchise_history_df.head()

,LEAGUE_ID,TEAM_ID,TEAM_CITY,TEAM_NAME,START_YEAR,END_YEAR,YEARS,GAMES,WINS,LOSSES,WIN_PCT,PO_APPEARANCES,DIV_TITLES,CONF_TITLES,LEAGUE_TITLES
0,00,1610612737,Atlanta,Hawks,1949,2018,70,5554,2747,2807,0.494,46,11,0,1
1,00,1610612737,Atlanta,Hawks,1968,2018,51,4134,2048,2086,0.495,33,5,0,0
2,00,1610612737,St. Louis,Hawks,1955,1967,13,1008,555,453,0.550,12,6,0,1
3,00,1610612737,Milwaukee,Hawks,1951,1954,4,280,90,190,0.321,0,0,0,0
4,00,1610612737,Tri-Cities,Blackhawks,1949,1950,2,132,54,78,0.409,1,0,0,0

In [111]:
from nba_api.stats.endpoints import homepageleaders
homepage_leaders = homepageleaders.HomePageLeaders()
homepage_leaders_df = homepage_leaders.get_data_frames()[0]
homepage_leaders_df.head()

,RANK,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,PTS,FG_PCT,FG3_PCT,FT_PCT,EFG_PCT,TS_PCT,PTS_PER48
0,1,1610612749,Milwaukee Bucks,MIL,118.1,0.476,0.353,0.773,0.550,0.583,117.5
1,2,1610612744,Golden State Warriors,GSW,117.7,0.491,0.385,0.801,0.565,0.596,116.9
2,3,1610612740,New Orleans Pelicans,NOP,115.4,0.473,0.344,0.761,0.529,0.563,115.0
3,4,1610612755,Philadelphia 76ers,PHI,115.2,0.471,0.359,0.771,0.532,0.574,114.5
4,5,1610612746,LA Clippers,LAC,115.1,0.471,0.388,0.792,0.529,0.575,114.3

In [112]:
from nba_api.stats.endpoints import homepagev2
homepage_v2 = homepagev2.HomePageV2()
homepage_v2_df = homepage_v2.get_data_frames()[0]
homepage_v2_df.head()

   RANK     TEAM_ID TEAM_ABBREVIATION              TEAM_NAME    PTS
0     1  1610612749               MIL        Milwaukee Bucks  118.1
1     2  1610612744               GSW  Golden State Warriors  117.7
2     3  1610612740               NOP   New Orleans Pelicans  115.4
3     4  1610612755               PHI     Philadelphia 76ers  115.2
4     5  1610612746               LAC            LA Clippers  115.1

In [123]:
from nba_api.stats.endpoints import leaderstiles
leaders_tiles = leaderstiles.LeadersTiles()
leaders_tiles_df = leaders_tiles.get_data_frames()[0]
leaders_tiles_df.head()

   RANK     TEAM_ID TEAM_ABBREVIATION              TEAM_NAME    PTS
0     1  1610612749               MIL        Milwaukee Bucks  118.1
1     2  1610612744               GSW  Golden State Warriors  117.7
2     3  1610612740               NOP   New Orleans Pelicans  115.4
3     4  1610612755               PHI     Philadelphia 76ers  115.2
4     5  1610612746               LAC            LA Clippers  115.1

In [126]:
from nba_api.stats.endpoints import leaguedashlineups
league_dashlineups = leaguedashlineups.LeagueDashLineups()
league_dashlineups_df = league_dashlineups.get_data_frames()[0]
league_dashlineups_df.sort_values(by='PLUS_MINUS_RANK').head()

,GROUP_SET,GROUP_ID,GROUP_NAME,TEAM_ID,TEAM_ABBREVIATION,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,Lineups,-201566-202331-203500-203924-1628390-,R. Westbrook - P. George - S. Adams - J. Grant - T. Ferguson,1610612760,OKC,58,35,23,0.603,919.306667,867,1811,0.479,227,567,0.400,288,407,0.708,235,709,944,505,271.0,179,78,96,413,388,2249,160.0,3,4,20194,7790,1,1,1,6271,1,1,4104,2,1,5408,1,1,1,1,20198,1,4,20198,20198,1,1,1
2,Lineups,-202329-203081-203090-203468-203994-,A. Aminu - D. Lillard - M. Harkless - C. McCollum - J. Nurkic,1610612757,POR,42,24,18,0.571,744.070000,694,1433,0.484,157,438,0.358,294,349,0.842,188,555,743,395,187.0,125,92,72,323,298,1839,139.0,15,19,20183,8013,3,3,3,6191,4,5,4738,1,2,3830,3,3,3,3,20196,3,2,20196,20197,3,3,2
51,Lineups,-2738-201142-201939-202691-203110-,A. Iguodala - K. Durant - S. Curry - K. Thompson - D. Green,1610612744,GSW,38,29,9,0.763,177.698333,177,323,0.548,71,148,0.480,95,113,0.841,20,140,160,118,52.0,34,22,9,67,87,520,123.0,23,9,20016,6544,52,40,54,3686,26,35,3610,28,31,3843,142,43,54,38,20151,40,43,20007,20141,39,36,3
10,Lineups,-201937-203109-203497-204060-1628378-,R. Rubio - J. Crowder - R. Gobert - J. Ingles - D. Mitchell,1610612762,UTA,60,39,21,0.650,478.191667,420,854,0.492,138,355,0.389,229,300,0.763,84,344,428,261,131.0,85,57,43,221,255,1207,121.0,2,2,20191,7690,11,11,12,6114,8,10,4444,4,4,4627,13,11,12,11,20186,12,9,20190,20195,4,9,4
22,Lineups,-201142-201939-202691-203110-1626172-,K. Durant - S. Curry - K. Thompson - D. Green - K. Looney,1610612744,GSW,46,37,9,0.804,312.585000,318,608,0.523,105,241,0.436,106,130,0.815,67,240,307,231,90.0,52,35,21,146,116,847,121.0,10,3,20016,6368,23,19,21,4054,13,19,3840,23,23,4132,24,19,20,14,20173,23,20,20151,20182,29,20,4

In [132]:
from nba_api.stats.endpoints import leaguedashoppptshot
league_dashoppptshot = leaguedashoppptshot.LeagueDashOppPtShot()
league_dashoppptshot_df = league_dashoppptshot.get_data_frames()[0]
league_dashoppptshot_df.sort_values(by='EFG_PCT').head()

,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,GP,G,FGA_FREQUENCY,FGM,FGA,FG_PCT,EFG_PCT,FG2A_FREQUENCY,FG2M,FG2A,FG2_PCT,FG3A_FREQUENCY,FG3M,FG3A,FG3_PCT
0,1610612749,Milwaukee Bucks,MIL,82,82,1.0,3321,7666,0.433,0.503,0.612,2248,4693,0.479,0.388,1073,2973,0.361
22,1610612762,Utah Jazz,UTA,81,81,1.0,3208,7112,0.451,0.506,0.687,2421,4884,0.496,0.313,787,2228,0.353
9,1610612744,Golden State Warriors,GSW,82,82,1.0,3274,7383,0.443,0.508,0.630,2323,4651,0.499,0.370,951,2732,0.348
12,1610612761,Toronto Raptors,TOR,82,82,1.0,3295,7334,0.449,0.509,0.651,2413,4777,0.505,0.349,882,2557,0.345
21,1610612748,Miami Heat,MIA,82,82,1.0,3141,7113,0.442,0.510,0.618,2168,4396,0.493,0.382,973,2717,0.358

In [131]:
from nba_api.stats.endpoints import leaguedashplayerbiostats
leaguedash_playerbiostats = leaguedashplayerbiostats.LeagueDashPlayerBioStats()
leaguedash_playerbiostats_df = leaguedash_playerbiostats.get_data_frames()[0]
leaguedash_playerbiostats_df.sort_values(by='PLAYER_HEIGHT_INCHES', ascending = False).head()

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,PLAYER_HEIGHT,PLAYER_HEIGHT_INCHES,PLAYER_WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GP,PTS,REB,AST,NET_RATING,OREB_PCT,DREB_PCT,USG_PCT,TS_PCT,AST_PCT
39,1626246,Boban Marjanovic,1610612755,PHI,30.0,7-3,87,290,None,Serbia,Undrafted,Undrafted,Undrafted,58,422,265,54,0.1,0.124,0.232,0.222,0.664,0.128
437,1626257,Salah Mejri,1610612742,DAL,33.0,7-2,86,235,None,Tunisia,Undrafted,Undrafted,Undrafted,36,141,131,35,-4.4,0.081,0.216,0.153,0.559,0.137
503,2199,Tyson Chandler,1610612747,LAL,36.0,7-1,85,240,None,USA,2001,1,2,55,173,307,37,-1.9,0.094,0.213,0.084,0.630,0.057
432,203497,Rudy Gobert,1610612762,UTA,27.0,7-1,85,245,None,France,2013,1,27,81,1284,1041,161,6.9,0.117,0.270,0.175,0.682,0.095
375,1629011,Mitchell Robinson,1610612752,NYK,21.0,7-1,85,240,None,USA,2018,2,36,66,485,423,37,-6.2,0.122,0.166,0.119,0.692,0.042

In [130]:
from nba_api.stats.endpoints import leaguedashplayerclutch
leaguedash_playerclutch = leaguedashplayerclutch.LeagueDashPlayerClutch()
leaguedash_playerclutch_df = leaguedash_playerclutch.get_data_frames()[0]
leaguedash_playerclutch_df.sort_values(by = 'PLUS_MINUS_RANK').head()

,GROUP_SET,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,DD2,TD3,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
283,Players,101150,Lou Williams,1610612746,LAC,32.0,38,25,13,0.658,111.320000,34,74,0.459,9,24,0.375,29,33,0.879,3,5,8,20,9,5,0,1,5,22,106,92,151.6,4,1,32,6,316,69,62,19,25,155,23,31,92,21,24,94,119,185,170,15,26,15,215,229,238,29,17,1,28,78,12,1,"101150,1610612746"
328,Players,203999,Nikola Jokic,1610612743,DEN,24.0,44,31,13,0.705,138.203333,35,71,0.493,6,15,0.400,19,23,0.826,13,28,41,31,22,4,4,2,19,24,95,89,192.7,32,8,7,1,316,41,35,15,28,139,53,64,77,37,43,130,11,13,8,3,1,33,26,334,435,22,27,2,13,4,2,1,"203999,1610612743"
176,Players,200755,JJ Redick,1610612755,PHI,35.0,43,30,13,0.698,150.740000,22,56,0.393,13,37,0.351,16,18,0.889,2,9,11,5,5,1,2,1,8,13,73,78,97.7,1,0,11,2,316,44,17,46,37,220,8,12,110,47,63,89,156,132,139,111,67,151,80,229,302,65,41,3,69,147,25,1,"200755,1610612755"
272,Players,202681,Kyrie Irving,1610612738,BOS,27.0,37,20,17,0.541,128.796667,57,115,0.496,15,41,0.366,30,33,0.909,5,9,14,30,7,5,3,1,16,24,159,70,237.8,13,1,39,35,387,157,42,1,2,138,5,9,101,18,24,75,68,132,111,4,43,15,50,229,421,22,3,4,4,29,12,1,"202681,1610612738"
410,Players,202699,Tobias Harris,1610612755,PHI,26.0,46,27,19,0.587,173.856667,24,46,0.522,6,16,0.375,23,30,0.767,5,43,48,9,8,1,4,4,11,16,77,67,155.1,11,0,2,5,417,116,1,40,50,92,53,60,92,30,29,159,68,1,4,58,33,151,26,406,354,47,35,5,27,36,25,1,"202699,1610612755"

In [147]:
from nba_api.stats.endpoints import leaguedashplayerptshot
leaguedash_playerptshot = leaguedashplayerptshot.LeagueDashPlayerPtShot()
leaguedash_playerptshot_df = leaguedash_playerptshot.get_data_frames()[0]
leaguedash_playerptshot_df.head()

,PLAYER_ID,PLAYER_NAME,PLAYER_LAST_TEAM_ID,PLAYER_LAST_TEAM_ABBREVIATION,AGE,GP,G,FGA_FREQUENCY,FGM,FGA,FG_PCT,EFG_PCT,FG2A_FREQUENCY,FG2M,FG2A,FG2_PCT,FG3A_FREQUENCY,FG3M,FG3A,FG3_PCT
0,201935,James Harden,1610612745,HOU,29.0,78,78,1.0,843,1909,0.442,0.541,0.461,465,881,0.528,0.539,378,1028,0.368
1,202689,Kemba Walker,1610612766,CHA,29.0,82,82,1.0,730,1682,0.434,0.511,0.566,470,952,0.494,0.434,260,730,0.356
2,202331,Paul George,1610612760,OKC,29.0,76,76,1.0,699,1593,0.439,0.529,0.530,411,845,0.486,0.470,288,748,0.385
3,203078,Bradley Beal,1610612764,WAS,26.0,81,81,1.0,744,1560,0.477,0.543,0.626,538,977,0.551,0.374,206,583,0.353
4,203081,Damian Lillard,1610612757,POR,28.0,80,80,1.0,679,1528,0.444,0.522,0.582,443,889,0.498,0.418,236,639,0.369

In [150]:
from nba_api.stats.endpoints import leaguedashplayershotlocations
leaguedash_playershotlocations = leaguedashplayershotlocations.LeagueDashPlayerShotLocations()
len(leaguedash_playershotlocations.get_data_frames())

AssertionError: 2 columns passed, passed data had 26 columns

In [151]:
from nba_api.stats.endpoints import leaguedashplayerstats
leaguedash_playerstats = leaguedashplayerstats.LeagueDashPlayerStats()
leaguedash_playerstats_df = leaguedash_playerstats.get_data_frames()[0]
leaguedash_playerstats_df.head()

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,DD2,TD3,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,203932,Aaron Gordon,1610612753,ORL,23.0,78,40,38,0.513,2632.533333,470,1046,0.449,121,347,0.349,185,253,0.731,129,445,574,289,162,57,56,52,172,262,1246,107,2545.3,19,0,68,113,426,245,15,51,46,229,73,70,199,63,57,295,43,30,31,53,40,119,50,471,439,39,52,91,43,34,38,5,"203932,1610612753"
1,1628988,Aaron Holiday,1610612754,IND,22.0,50,31,19,0.620,645.830000,105,262,0.401,43,127,0.339,41,50,0.820,5,62,67,87,40,21,13,12,71,58,294,102,566.9,0,0,294,187,183,134,338,306,296,402,237,240,235,288,304,129,433,357,376,235,294,299,260,218,210,283,302,97,324,261,38,5,"1628988,1610612754"
2,1627846,Abdel Nader,1610612760,OKC,25.0,61,38,23,0.623,693.656667,91,215,0.423,32,100,0.320,27,36,0.750,14,102,116,20,26,20,12,8,68,35,241,-154,480.2,0,0,227,132,230,132,330,329,325,316,268,262,305,341,351,258,360,305,318,396,345,311,277,172,203,351,324,464,344,261,38,5,"1627846,1610612760"
3,201143,Al Horford,1610612738,BOS,33.0,68,41,27,0.603,1972.683333,387,723,0.535,73,203,0.360,78,95,0.821,120,338,458,283,102,59,86,29,126,121,925,258,2232.1,10,1,165,103,271,152,109,76,101,68,155,152,167,193,204,127,50,61,56,54,111,110,23,353,343,154,97,37,64,70,16,5,"201143,1610612738"
4,202329,Al-Farouq Aminu,1610612757,POR,28.0,81,52,29,0.642,2291.698333,257,593,0.433,96,280,0.343,150,173,0.867,112,498,610,104,72,68,33,29,143,148,760,384,1879.0,12,0,22,18,312,112,58,152,141,281,109,102,222,92,112,52,56,19,27,203,178,83,119,353,382,128,133,17,95,60,38,5,"202329,1610612757"

In [152]:
from nba_api.stats.endpoints import leaguedashptdefend
leaguedash_ptdefend = leaguedashptdefend.LeagueDashPtDefend()
leaguedash_ptdefend_df = leaguedash_ptdefend.get_data_frames()[0]
leaguedash_ptdefend_df.head()

,CLOSE_DEF_PERSON_ID,PLAYER_NAME,PLAYER_LAST_TEAM_ID,PLAYER_LAST_TEAM_ABBREVIATION,PLAYER_POSITION,AGE,GP,G,FREQ,D_FGM,D_FGA,D_FG_PCT,NORMAL_FG_PCT,PCT_PLUSMINUS
0,203497,Rudy Gobert,1610612762,UTA,C,27.0,80,80,1.0,641,1426,0.450,0.489,-0.039
1,201572,Brook Lopez,1610612749,MIL,C,31.0,81,81,1.0,589,1311,0.449,0.487,-0.038
2,203500,Steven Adams,1610612760,OKC,C,25.0,79,79,1.0,616,1294,0.476,0.484,-0.008
3,203991,Clint Capela,1610612745,HOU,C,25.0,67,67,1.0,555,1188,0.467,0.471,-0.004
4,203999,Nikola Jokic,1610612743,DEN,C,24.0,80,80,1.0,576,1184,0.486,0.492,-0.005

In [153]:
from nba_api.stats.endpoints import leaguedashptstats
leaguedash_ptstats = leaguedashptstats.LeagueDashPtStats()
leaguedash_ptstats_df = leaguedash_ptstats.get_data_frames()[0]
leaguedash_ptstats_df.head()

,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GP,W,L,MIN,DIST_FEET,DIST_MILES,DIST_MILES_OFF,DIST_MILES_DEF,AVG_SPEED,AVG_SPEED_OFF,AVG_SPEED_DEF
0,1610612737,ATL,Atlanta Hawks,82,29,53,19855.0,8094803,1533.1,825.2,707.9,4.31,4.71,3.92
1,1610612738,BOS,Boston Celtics,82,49,33,19780.0,7760699,1469.8,778.7,691.2,4.18,4.54,3.84
2,1610612751,BKN,Brooklyn Nets,82,42,40,19980.0,8008929,1516.8,844.0,672.9,4.25,4.68,3.81
3,1610612766,CHA,Charlotte Hornets,82,39,43,19830.0,7935690,1503.0,823.6,679.3,4.27,4.66,3.88
4,1610612741,CHI,Chicago Bulls,81,22,59,19665.0,7952888,1506.2,815.9,690.3,4.32,4.68,3.96

In [302]:
from nba_api.stats.endpoints import shotchartlineupdetail
shotchart_lineupdetail = shotchartlineupdetail.ShotChartLineupDetail(group_id=2015662023312035002039241628390)
shotchart_lineupdetail_df = shotchart_lineupdetail.get_data_frames()[0]
shotchart_lineupdetail_df.head()

Empty DataFrame
Columns: [GRID_TYPE, GAME_ID, GAME_EVENT_ID, GROUP_ID, GROUP_NAME, PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_NAME, PERIOD, MINUTES_REMAINING, SECONDS_REMAINING, EVENT_TYPE, ACTION_TYPE, SHOT_TYPE, SHOT_ZONE_BASIC, SHOT_ZONE_AREA, SHOT_ZONE_RANGE, SHOT_DISTANCE, LOC_X, LOC_Y, SHOT_ATTEMPTED_FLAG, SHOT_MADE_FLAG, GAME_DATE, HTM, VTM]
Index: []

In [305]:
from nba_api.stats.endpoints import synergyplaytypes
synergy_playtypes = synergyplaytypes.SynergyPlayTypes()
synergy_playtypes_df = synergy_playtypes.get_data_frames()[0]
synergy_playtypes_df.head()

Empty DataFrame
Columns: [SEASON_ID, TEAM_ID, TEAM_ABBREVIATION, TEAM_NAME, PLAY_TYPE, TYPE_GROUPING, PERCENTILE, GP, POSS_PCT, PPP, FG_PCT, FT_POSS_PCT, TOV_POSS_PCT, SF_POSS_PCT, PLUSONE_POSS_PCT, SCORE_POSS_PCT, EFG_PCT, POSS, PTS, FGM, FGA, FGMX]
Index: []